.about-page,
.about-page * {
  box-sizing: border-box;
}
.about-page {
  background: #a75b5c;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 36px;
  top: 33px;
  -webkit-text-stroke: 1px #000000;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 82px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 855px;
  top: 48px;
}
.home {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: relative;
}
.about {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: relative;
}
.contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: relative;
}
.frame-4 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1398px;
  position: absolute;
  left: 33px;
  top: 226px;
}
.frame-3 {
  display: flex;
  flex-direction: column;
  gap: 33px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 1374px;
  position: relative;
}
.bmgt-407-information-systems-project {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.bmgt-407-is-the-capstone-course-for-information-systems-is-majors-we-will-apply-our-knowledge-to-develop-real-world-is-solutions-for-our-business-client-neisha-thai-restaurant {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.professor-paul-t-shapiro-teaching-assistants-bharath-sreekumar-caifu-lin-sumanth-devera-semester-details-spring-2025 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
